.blog__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 65px 0 62px;
}

.blog h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  margin-bottom: 19px;
}

.blog > a {
  font-weight: 500;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background-color: $color-accent;
  }
}

.blog a {
  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }

  &:active {
    outline: none;
    color: $color-font-secondary;
  }
}

.blog ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  margin: 0;
  margin-right: 10px;
  margin-left: 20px;
  padding: 0;
}

.blog li {
  width: 47%;
}

.blog__item {
  display: flex;
  flex-direction: row;

  width: 570px;
  min-height: 300px;

  margin-bottom: 30px;
  background-color: $color-bg-tertiary;
}

.blog__item--big {
  position: relative;

  max-height: 630px;

  margin-right: 20px;
}

.blog__item div {
  width: 285px;
  min-height: 300px;

  padding-top: 53px;
  padding-bottom: 10px;


  background-color: $color-bg-tertiary;
}

.blog__item--big div {
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog__item--big img {
  object-fit: cover;
  width: auto;
  height: 100%;
}

.blog__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-font-secondary;
}

.blog__item h3 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;

  margin-top: 14px;
  margin-bottom: 36px;
  padding: 0 60px;
}

.blog__item a {
  font-weight: 500;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background-color: $color-accent;
  }
}


@media (max-width: $tablet-only-width) {
  .blog {
    max-width: none;
  }

  .blog__wrapper {
    flex-direction: column;

    padding: 65px 0 0;
  }

  .blog ul {
    margin: 0;
  }

  .blog li {
    width: 100%;
  }

  .blog__item {
    width: 100%;

    margin-bottom: 50px;
  }

  .blog__item--big {
    margin-right: 0;
  }

  .blog__item div {
    width: 50%;
  }

  .blog__item--big div {
    position: static;

    padding-top: 70px;
  }

  .blog__item img {
    width: 339px;
    height: 300px;

    object-fit: cover;
  }

  .blog__item h3 {
    padding: 0 85px;
  }
}

@media (max-width: $mobile-only-width) {
  .blog {
    max-width: none;
    width: auto;
  }

  .blog__wrapper {
    flex-direction: column;

    padding: 54px 0 0;
  }

  .blog__item {
    flex-direction: column;

    margin-bottom: 40px;
  }

  .blog__item div {
    width: auto;
    min-height: 256px;

    padding-top: 31px;

    order: 2;
  }

  .blog__item--big div {
    padding-top: 48px;
  }

  .blog__item img {
    height: 256px;
    width: 100%;

    order: 1;
  }

  .blog__item h3 {
    padding: 0 60px;
  }
}
