.close-button {
  width: 20px;
  height: 20px;

  border: 0;
  background-color: transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 17px;
    height: 2px;

    background-color: $color-font-primary;

    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }


  &:focus::before,
  &:focus::after {
    background-color: $color-font-secondary;
  }

  &:hover::before,
  &:hover::after {
    background-color: fade-out($color-font-secondary, 0.5);
  }

  &:active::before,
  &:active::after {
    background-color: $color-accent;
  }
}

.close-button--inverted {
  display: none;
}

@media (max-width: $tablet-only-width) {
  .close-button--login {
    width: 23px;
    height: 23px;

    &::before,
    &::after {
      position: absolute;
      top: 10px;
      left: -1px;

      width: 25px;
      height: 3px;
    }
  }

  .close-button--inverted {
    width: 32px;
    height: 32px;

    margin-left: auto;

    border-radius: 50%;
    background-color: $color-font-primary;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: auto;
      right: 7px;

      width: 17px;
      height: 2px;

      background-color: $color-bg-primary;

      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }
}

@media (max-width: $mobile-only-width) {
  .close-button--login {
    width: 18px;
    height: 18px;

    &::before,
    &::after {
      position: absolute;
      top: 8px;
      left: 1px;

      width: 17px;
      height: 2px;
    }
  }
}
