.intro {
  position: relative;

  filter: drop-shadow(0 5px 4px fade-out($color-bg-secondary, 0.75%));
}

.intro h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: 0.03em;
  color: $color-bg-primary;
  text-transform: uppercase;

  position: absolute;
  top: 144px;
  left: 50%;
  transform: translateX(-50%);
}

.intro--catalog h2 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: normal;

  top: 64px;
  transform: translateX(-50%);
}

.intro p {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 38px;
  line-height: 49px;
  color: $color-bg-primary;

  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
}

.intro--catalog p {
  font-size: 22px;
  line-height: 29px;

  top: 117px;
  transform: translateX(-50%);
}

@media (max-width: $tablet-only-width) {
  .intro {
    /*position: relative; */

    /*filter: drop-shadow(0px 5px 4px fade-out($color-bg-secondary, 0.75%));*/
  }

  .intro h2 {
    /*font-family: "Cormorant Garamond", "Times New Roman", serif;*/
    /*font-weight: 700;*/
    /*font-size: 45px;*/
    /*line-height: 59px;*/
    /*letter-spacing: 0.03em;*/
    /*color: $color-bg-primary;*/
    /*text-transform: uppercase;  */

    /*position: absolute;*/
    /*top: 144px;*/
    /*left: 50%;*/
    /*transform: translateX(calc(-50% + 1px));*/
  }

  .intro--catalog h2 {
    /*font-size: 34px;*/
    /*line-height: 44px;*/
    /*letter-spacing: normal; */

    /*top: 64px;*/
    /*transform: translateX(calc(-50% + 1px));*/
  }

  .intro p {
    /*font-family: "Cormorant Garamond", "Times New Roman", serif;*/
    /*font-style: italic;*/
    /*font-weight: 500;*/
    /*font-size: 38px;*/
    /*line-height: 49px;*/
    /*color: $color-bg-primary; */

    /*position: absolute;*/
    /*top: 195px;*/
    /*left: 50%;*/
    /*transform: translateX(calc(-50% + 1px));*/
  }

  .intro--catalog img {
    height: 261px;
    object-fit: cover;
  }

  .intro--catalog p {
    width: 600px;

    /*top: 117px;*/
  }
}


@media (max-width: $mobile-only-width) {
  .intro {
    /*position: relative; */

    /*filter: drop-shadow(0px 5px 4px fade-out($color-bg-secondary, 0.75%));*/
  }

  .intro h2 {
    /*font-family: "Cormorant Garamond", "Times New Roman", serif;*/
    /*font-weight: 700;*/
    /*font-size: 45px;*/
    /*line-height: 59px;*/
    /*letter-spacing: 0.03em;*/
    /*color: $color-bg-primary;*/
    /*text-transform: uppercase;  */

    /*position: absolute;*/
    /*top: 144px;*/
    /*left: 50%;*/
    /*transform: translateX(calc(-50% + 1px));*/
  }

  .intro--catalog h2 {
    width: 248px;

    top: 50px;
  }

  .intro p {
    /*font-family: "Cormorant Garamond", "Times New Roman", serif;*/
    /*font-style: italic;*/
    /*font-weight: 500;*/
    /*font-size: 38px;*/
    /*line-height: 49px;*/
    /*color: $color-bg-primary; */

    /*position: absolute;*/
    /*top: 195px;*/
    /*left: 50%;*/
    /*transform: translateX(calc(-50% + 1px));*/
  }

  .intro--catalog img {
    height: 261px;
    object-fit: cover;
  }

  .intro--catalog p {
    line-height: 26px;

    width: 248px;

    top: 103px;
  }
}
