.item-slider {
  position: relative;

  min-height: 779px;

  padding: 93px 20px 0;
}

.item-slider--product-card {
  padding-top: 62px;
  padding-bottom: 124px;
}

.item-slider__header {
  padding-bottom: 60px;
}

.item-slider--product-card .item-slider__header {
  padding-bottom: 65px;
}

.item-slider h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;

  margin-bottom: 23px;
}

.item-slider a {
  font-weight: 500;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 1px;

    width: 100%;
    height: 1px;

    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }

  &:active {
    outline: none;
    color: $color-font-secondary;
  }
}

.item-slider--product-card h2 {
  margin-bottom: 19px;
}

.item-slider--product-card a {
  &::after {
    bottom: -4px;
  }
}

@media (max-width: $tablet-only-width) {
  .item-slider {
    max-width: none;
    min-height: 715px;
    width: auto;

    padding: 42px 20px 0;
  }

  .item-slider--product-card {
    min-height: auto;

    padding-top: 12px;
    padding-bottom: 79px;
  }

  .item-slider__header {
    padding-bottom: 55px;
  }

  .item-slider--product-card .item-slider__header {
    padding-bottom: 55px;
  }

  .item-slider h2 {
    margin-bottom: 19px;
  }

  .item-slider a {
    &::after {
      bottom: -4px;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .item-slider {
    min-height: 488px;

    padding: 32px 15px 0;
  }

  .item-slider--product-card {
    padding-top: 28px;
    padding-bottom: 49px;
  }

  .item-slider__header {
    padding-bottom: 45px;
  }

  .item-slider--product-card .item-slider__header {
    padding-bottom: 45px;
  }
}
