.item {
  display: flex;
  flex-direction: row;

  max-width: 1210px;

  padding: 70px 20px 0;
}

.item__images {
  display: flex;
  flex-direction: row;

  padding-top: 10px;
}

.item__images ul {
  list-style: none;

  margin: 0;
  margin-right: 30px;
  padding-left: 0;
}

.item__images li {
  margin-bottom: 30px;
}

.item__info {
  text-align: left;

  width: 370px;

  margin-left: 100px;
}

.item__info h3 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;

  margin: 0;
}

.item__info p {
  font-size: 26px;
  line-height: 34px;

  margin-top: 11px;
}

.item__info ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0;
  padding-left: 0;
}

.item__info-tab {
  margin-right: 35px;

  color: $color-font-secondary;
}

.item__info-tab--active {
  color: $color-font-primary;
}

.item__info h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  margin-top: 12px;
}

.item__info table {
  width: 100%;

  margin-top: 3px;
  border-collapse: collapse;
}

.item__info tr {
  height: 40px;

  border-bottom: 1px solid $color-border-header;
}

.item__info td {
  font-size: 14px;
  line-height: 18px;

  padding: 2px 0 0;
}

.item__info td:last-child {
  text-align: right;
}

.item__info a {
  text-align: center;

  display: block;

  width: 100%;

  margin-top: 50px;
  padding-top: 23px;
}

.item__additional-info ul {
  justify-content: space-between;

  margin-top: 17px;
}

.item__additional-info li {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-font-secondary;
}

@media (max-width: $tablet-only-width) {
  .item {
    max-width: none;

    padding: 20px 45px 0;
  }

  .item__images {
    flex-direction: column;
  }

  .item__images ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    order: 2;
    margin-top: 14px;
    margin-right: 0;
  }

  .item__images img {
    width: 97px;
    height: 129px;
    object-fit: cover;
  }

  .item__images > picture img {
    width: 319px;
    height: 286px;
  }

  .item__info {
    width: 319px;

    margin-left: 40px;
  }

  .item__additional-info ul {
    margin-top: 15px;
  }

  .item__additional-info li {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: $mobile-only-width) {
  .item {
    flex-direction: column;
    padding: 0 15px;
  }

  .item__images {
    position: relative;

    padding: 0;

    &::after {
      content: "1 of 4";

      position: absolute;
      left: 50%;
      bottom: 6px;
      transform: translateX(-50%);

      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $color-font-primary;
    }
  }

  .item__images ul {
    display: none;
  }

  .item__images > picture img {
    width: 290px;
    height: 260px;
  }

  .item__info {
    width: auto;

    margin-top: 40px;
    margin-left: 0;
  }

  .item__info p {
    margin-bottom: 16px;
  }

  .item__info a {
    margin-top: 40px;
  }

  .item__info-tab {
    margin-right: 38px;
  }

  .item__additional-info ul {
    margin-top: 12px;
    padding: 0 8px 0 5px;
  }

  .item__additional-info li {
    text-align: center;

    width: 58px;
  }
}
