.main-header {
  position: relative;

  min-height: 187px;

  &::after {
    content: "";

    position: absolute;
    top: 125px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-border-header;
  }
}

.main-header > button {
  display: none;
}

.main-header__container {
  display: grid;
  grid-template-columns: 210px 1fr 70px 70px;
  grid-template-rows: 96px 61px;

  max-width: 1230px;

  margin: 0 auto;
  padding: 30px 28px 0;
}

.main-header__search {
  grid-column: 1;
  grid-row: 1;

  position: relative;

  margin-top: 22px;
  margin-left: 24px;
}

.main-header__search svg {
  position: absolute;
  top: 4px;
  left: -22px;
}

.main-header__search svg:last-of-type {
  display: none;
}

.main-header__search input {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  padding: 0;
  padding-left: 4px;

  border: 0;

  &::placeholder {
    color: $color-font-secondary;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: fade-out($color-accent, 0.7);
  }

  &:active {
    outline: none;
    background-color: fade-out($color-accent, 0.9);
  }
}

.main-header__logo {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  justify-content: center;

  padding-right: 70px;
}

.main-header__logo a {
  &:hover,
  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.5;
  }

  &:active {
    outline: none;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.main-header__logo svg {
  fill: $color-accent;
}

.main-header__login {
  grid-column: 3;
  grid-row: 1;

  margin-top: 22px;
}

.main-header__login a {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;

  padding: 12px 0 0;
  margin-left: 6px;

  border: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }

  &:active {
    outline: none;
    color: $color-font-secondary;
  }
}

.main-header__cart {
  grid-column: 4;
  grid-row: 1;

  display: flex;
  flex-direction: row;

  margin-top: 11px;
  padding-top: 12px;

  height: 20px;
}

.main-header__cart svg {
  display: none;
}

.main-header__cart a {
  font-weight: 500;
  font-size: 14px;

  margin: 0;
  margin-left: 22px;

  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }


  &:active {
    outline: none;
    color: $color-font-secondary;
  }
}


.main-header__cart > span {
  font-weight: 500;
  font-size: 14px;

  margin-left: 6px;
}

.main-header__nav {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: $tablet-only-width) {
  .main-header {
    min-height: 778px;

    padding-top: 126px;

    background-color: $color-accent;

    &::after {
      display: none;
    }
  }

  .main-header--js-on {
    position: relative;

    min-height: 126px;

    padding-top: 0;
  }

  .main-header--closed {
    min-height: 126px;

    background-color: $color-bg-primary;
  }

  .main-header > button {
    display: block;

    position: absolute;

    top: 52px;
    left: 43px;

    width: 29px;
    height: 22px;

    padding: 0;

    border: 0;
    background-color: transparent;

    &::after {
      content: "";

      position: absolute;
      top: 2px;
      left: 2px;

      width: 25px;
      height: 2px;

      background-color: $color-bg-primary;

      box-shadow: 0 8px 0 0 $color-bg-primary, 0 16px 0 0 $color-bg-primary;
    }
  }

  .main-header--closed > button {
    &::after {
      background-color: $color-font-primary;

      box-shadow: 0 8px 0 0 $color-font-primary, 0 16px 0 0 $color-font-primary;
    }
  }

  .main-header__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 310px 190px 30px;

    max-width: auto;

    padding: 10px 45px 70px;
  }

  .main-header--js-on .main-header__container {
    position: absolute;
    top: 126px;
    left: 0;

    width: 100%;
    z-index: 2;

    min-height: 652px;
    background-color: $color-accent;
  }

  .main-header--closed .main-header__container {
    display: block;

    /*position: static;*/

    min-height: auto;

    padding-bottom: 60px;

    background-color: transparent;
  }

  .main-header__search {
    grid-row: 1;

    position: relative;

    margin: 0;
  }

  .main-header--closed .main-header__search {
    display: none;
  }

  .main-header__search svg:first-of-type {
    display: none;
  }

  .main-header__search svg:last-of-type {
    display: inline;
  }

  .main-header__search svg {
    margin: 0;

    position: absolute;
    left: 12px;
    top: 12px;

    fill: $color-bg-primary;
  }

  .main-header__search input {
    min-height: 40px;
    width: 100%;

    border-radius: 21px;

    background-color: fade-out($color-bg-primary, 0.85);

    &::placeholder {
      opacity: 0;
    }
  }

  .main-header__logo {
    grid-column: 1;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    padding-right: 0;
  }

  .main-header--js-on .main-header__logo {
    top: -106px;
    transform: translateX(-85%);
  }

  .main-header--closed .main-header__logo {
    top: -96px;
    transform: translateX(-50%);
  }

  .main-header__logo svg {
    fill: $color-bg-primary;
  }

  .main-header--closed .main-header__logo svg {
    fill: $color-accent;
  }

  .main-header__login {
    grid-column: 1;
    grid-row: 4;

    display: flex;
    justify-content: flex-start;

    margin-top: 4px;
  }

  .main-header--closed .main-header__login {
    display: none;
  }

  .main-header__login a {
    font-size: 18px;
    line-height: 23px;
    color: $color-bg-primary;

    padding: 0;

    margin-left: 0;
  }

  .main-header__cart {
    grid-column: 1;

    position: absolute;
    right: 0;
    top: -11px;
  }

  .main-header--js-on .main-header__cart {
    top: -147px;
  }

  .main-header--closed .main-header__cart {
    top: -137px;
  }

  .main-header__cart span {
    display: none;
  }

  .main-header__cart svg {
    display: block;

    position: absolute;
    top: 54px;
    right: 44px;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $color-bg-primary;
  }

  .main-header--closed .main-header__cart svg {
    stroke: $color-font-primary;
  }

  .main-header__nav {
    grid-column: 1;
    grid-row: 2;
  }

  .main-header--closed .main-header__nav {
    display: none;
  }

  .main-header__nav--secondary {
    grid-row: 3;
  }
}

@media (max-width: $mobile-only-width) {
  .main-header {
    min-height: 684px;

    padding-top: 92px;
  }

  .main-header--js-on {
    min-height: auto;
  }

  .main-header--closed {
    min-height: 92px;
  }

  .main-header > button {
    top: 35px;
    left: 13px;
  }

  .main-header__container {
    grid-template-rows: 40px 310px 160px 30px;

    padding: 10px 15px 40px;
  }

  .main-header--js-on .main-header__container {
    position: absolute;
    top: 92px;

    min-height: 582px;
  }

  .main-header--closed .main-header__container {
    padding-bottom: 40px;

    min-height: auto;
  }


  .main-header__logo {
    top: 13px;
  }

  .main-header--js-on .main-header__logo {
    top: -89px;
    transform: translateX(-65%);
  }

  .main-header--closed .main-header__logo {
    top: -79px;
    transform: translateX(-50%);
  }

  .main-header__logo svg {
    width: 52px;
  }

  .main-header--js-on .main-header__cart {
    top: -113px;
  }

  .main-header--closed .main-header__cart {
    top: -103px;
  }

  .main-header__cart svg {
    top: 37px;
    right: 14px;
  }
}
