.main-nav {
  min-width: 100%;
}

.main-nav ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 72px 0 0 9px;


  margin: 0;
}

.main-nav li {
  margin: 0 18px 10px 18px;
}

.main-nav a {
  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }


  &:active {
    outline: none;
    color: $color-font-secondary;
  }
}

@media (max-width: $tablet-only-width) {
  .main-nav ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 46px;
    padding-left: 0;
  }

  .main-nav li {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $color-bg-primary;

    margin: 0 0 21px;
  }

  .main-nav a {
    &:hover,
    &:focus {
      outline: none;
      color: fade-out($color-bg-primary, 0.7);
    }

    &:active {
      outline: none;
      color: fade-out($color-bg-primary, 0.9);
    }
  }
}

@media (max-width: $mobile-only-width) {
  .main-nav ul {
    padding-top: 36px;
  }
}
