.our-instagram h2 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  margin-bottom: 28px;
}

.our-instagram span {
  font-size: 42px;
  line-height: 55px;
}

.our-instagram > a {
  font-weight: 500;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background-color: $color-accent;
  }
}

.our-instagram a {
  &:hover,
  &:focus {
    outline: none;
    color: $color-accent;
  }

  &:hover img,
  &:focus img {
    box-shadow: 0 0 10px 5px $color-accent;
  }

  &:active {
    outline: none;
    color: $color-font-secondary;
  }

  &:active img {
    box-shadow: 0 0 10px 10px $color-accent;
  }
}

.our-instagram__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  max-height: 609px;
  width: 100%;

  margin: 0 auto;
  padding: 65px 23px 130px 18px;
}

.our-instagram__wrapper img {
  /*width: 100%;*/
}

.our-instagram__left-group {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 0;
  margin: 0;
  margin-right: 30px;

  width: 20%;
}

.our-instagram__left-group li {
  width: 100%;
}

.our-instagram__center {
  margin-right: 30px;

  width: 34.2%;
}

.our-instagram__right-group {
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  padding-left: 0;
  margin: 0;

  width: 40%;
}

.our-instagram__right-group li {
  /*width: 50%;*/
}


.our-instagram__right-group-item--bottom-left {
  text-align: left;

  margin-right: 30px;
}

.our-instagram__right-group-item--top-right {
  text-align: right;

  margin-left: 15px;
}

.our-instagram__right-group-item--top-left,
.our-instagram__right-group-item--bottom-right {
  width: 50%;
}

.our-instagram__right-group-item--bottom-left,
.our-instagram__right-group-item--top-right {
  width: 46.5%;
}

@media (max-width: $tablet-only-width) {
  .our-instagram img {
    object-fit: cover;
  }

  .our-instagram h2 {
    margin-top: 0;
    margin-bottom: 17px;
  }

  .our-instagram__wrapper {
    justify-content: space-between;

    height: 385px;
    width: auto;

    padding: 65px 0 80px;
  }


  .our-instagram__left-group {
    margin-right: 16px;
  }

  .our-instagram__left-group img {
    width: 133px;
  }

  .our-instagram__center {
    margin-right: 12px;
  }

  .our-instagram__center img {
    width: 231px;
    height: 240px;
  }

  .our-instagram__right-group {
    width: 284px;

    padding-left: 6px;
  }

  .our-instagram__right-group-item--bottom-left {
    margin-right: 0;
  }

  .our-instagram__right-group-item--top-right {
    margin-left: 8px;
  }

  .our-instagram__right-group-item--top-left,
  .our-instagram__right-group-item--bottom-right {
    width: 134px;
  }

  .our-instagram__right-group-item--bottom-left,
  .our-instagram__right-group-item--top-right {
    width: 126px;
  }
}

@media (max-width: $mobile-only-width) {
  .our-instagram__wrapper {
    flex-wrap: wrap;

    height: 483px;

    padding-top: 51px;

    padding-bottom: 62px;
  }


  .our-instagram__left-group {
    margin-right: 15px;
    margin-bottom: 2px;

    width: auto;
  }

  .our-instagram__left-group img {
    width: 130px;
  }

  .our-instagram__center {
    margin-right: 0;

    width: auto;
  }

  .our-instagram__center img {
    width: 145px;
    height: 226px;
  }

  .our-instagram__right-group {
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;

    margin-top: 7px;
    padding-left: 0;
  }

  .our-instagram__right-group-item--top-right,
  .our-instagram__right-group-item--bottom-right {
    display: none;
  }

  .our-instagram__right-group-item--top-left {
    width: 145px;
    height: 121px;
  }

  .our-instagram__right-group-item--bottom-left {
    order: -1;

    width: 130px;
    height: 115px;

    margin-top: 6px;
  }
}
