$container-max-width: 1210px;
$desktop-width: 1024px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #1d1613;
$color-font-secondary: #9b9997;
$color-accent: #a87b62;
$color-bg-primary: #ffffff;
$color-bg-secondary: #000000;
$color-bg-tertiary: #f0eae4;
$color-bg-intro: rgba(86, 64, 52, 0.7);
$color-border-header: #f6f5f4;
$color-border-range: #f0eae4;
$color-box-shadow-filter: rgba(219, 213, 208, 0.24);
$color-box-shadow-added: rgba(121, 121, 121, 0.24);
$color-box-shadow-login: rgba(226, 221, 215, 0.24);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
