$container-max-width: 1494px;
$desktop-width: 1024px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #1d1613;
$color-font-secondary: #9b9997;
$color-accent: #a87b62;
$color-bg-primary: #ffffff;
$color-bg-secondary: #000000;
$color-bg-tertiary: #f0eae4;
$color-border-header: #f6f5f4;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
